.dropleft {
  position: Absolute !important;
  top: 250px;
  right: 0px;
  transform: translateX(34%) rotate(-90deg);
  background: linear-gradient(0deg, #b4bcc6 0%, #9ca2aa 100%);
  color: white;
}

.dropleft ::after {
  margin-left: 0.805em !important;
}

.textarea {
  transform: translateX(3%) translateY(-22%) rotate(90deg);
  height: 160px;
  width: 260px;
  border: 1px solid gray;
  margin-top: -30px;
  color: black;
}
