body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-menu {
  border: none !important;
}

.btn {
  box-shadow: none !important;
  text-transform: none !important ;
}

.btn.btn-md:hover {
  color: white !important;
}

.btn.btn-md {
  padding: 0px 12px 0px 12px !important;
  font-size: 20px !important;
}
